
output "bucket_names" {
  value = [for bucket in aws_s3_bucket.multiple_buckets : bucket.bucket]
}

{% if secondary_machine_pool_enabled %}
{% if hcp | bool %}
output "secondary_machine_pool_name" {
  value = rhcs_hcp_machine_pool.secondary_machine_pool.name
}

output "secondary_machine_pool_instance_type" {
  value = rhcs_hcp_machine_pool.secondary_machine_pool.aws_node_pool.instance_type
}

output "secondary_machine_pool_replicas" {
  value = rhcs_hcp_machine_pool.secondary_machine_pool.autoscaling.enabled ? "Autoscaling enabled" : "Autoscaling disabled"
}

{% else %}
output "secondary_machine_pool_name" {
  value = rhcs_machine_pool.secondary_machine_pool.name
}

output "secondary_machine_pool_instance_type" {
  value = rhcs_machine_pool.secondary_machine_pool.machine_type
}

output "secondary_machine_pool_replicas" {
  value = rhcs_machine_pool.secondary_machine_pool.autoscaling_enabled ? "Autoscaling enabled" : "Autoscaling disabled"
}
{% endif %}
{% endif %}
output "rosa" {
  value = module.rosa
}


# added to the jinja template for main.tf, still getting errors with the buckets
