apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ operator_namespace }}-og"
  namespace: "{{ operator_namespace }}"
{% if operator_manage_namespaces | length > 0 %}
spec:
  targetNamespaces: {{ operator_manage_namespaces | to_json }}
{% endif %}